

<%- include("./partials/header") %> 
<%- include("./partials/navbar") %> 
   
<h1><%= 'hello'.toUpperCase() %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam cupiditate dolorum nulla dolore libero ullam fuga, inventore rem dolores modi sit voluptate repellat quisquam! Mollitia dolore sapiente recusandae magni sunt.</p>

<h2><%=randomNum%></h2>
<%if(randomNum%2==0){%>
   
    <h2>Even Number</h2>
<%}else{%>
    <h2>Odd Number!</h2>
<%}%>

<%- include("./partials/footer") %> 


