
<%- include("./partials/header") %> 
<%- include("./partials/navbar") %> 

<h1>Hello My Name is <%= name %></h1>
<ul>
    <%for(let item of todos){%>
        <li><%= item %> </li>
    <%}%>
</ul>

<%- include("./partials/footer") %> 

