<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>All comments</h1>
    <a href="/comments/new">Add Comment</a>
    <ul>
        <% for(let c of comments){ %> 
            <li> <strong><%= c.author%> </strong>-<%=c.comment%> </li>
            <a href="/comments/<%=c.id%>">Show</a>
            <a href="/comments/<%=c.id%>/edit">Edit</a>
            <form action="/comments/<%=c.id%>?_method=DELETE" method="post">
                <button type="submit">Delete</button>
            </form>
        <% } %> 
    </ul>
</body>
</html>