<%- include("./partials/header") %> 
<%- include("./partials/navbar") %> 

<section class="container">
    
    <h1 class="display-4"><%=blog.title%> </h1>
    <img src="<%=blog.img%>" alt="">
    <p>By <%=blog.author%></p>
    <p><%=blog.content%> </p>

</section>


<%- include("./partials/footer") %> 



    

